@import url("https://fonts.googleapis.com/css2?fam ly=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4{
    line-height: 2;
    margin-bottom: 0;
    margin-top: 0;
}

.btn-small{
    margin: 5px;
}


/************ NavBar ************/
.brand-logo {
  font-family: "Nunito Sans", sans-serif;
  margin-left: 50px;  
}

.navbar{
  border: 0;
  box-shadow: 0;
  background-color: #DFC7C1;
}

.peach{
  color: #DFC7C1;
  font-family: "Nunito Sans", sans-serif;
}

/************ Side Navbar ************/
.sidenav{
  color: white;
  font-family: "Nunito Sans", sans-serif;
  background-color: #DFC7C1;
  font-weight: bold;
}

.sidenav li>a {
    color: white;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    background-color:#DFC7C1;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
}

/************ Hero Image ************/
.hero-image  {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  overflow-x:hidden;
  margin-left: 0;
  padding-left:0;
  right: 0;
}

.hero-text {
  background: linear-gradient(rgba(223, 199, 193, 0.7), rgba(223, 199, 193, 0.7));  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-bottom:20px;
}

.brand-logo .sub-text {
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

/************ Recipe Cards ************/
.card {
  height: 200%;
  width:200px;
  overflow: hidden;
}

/************ Signin&Signup ************/

.sign{
  color: #DFC7C1;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.submitbtn{
  justify-content: center;
}

/************ My Recipes ************/
.overlay{
  width: 100vw;
  position:absolute;
    left: 0;
    right: 0;
    background-color: rgba(223,199,194,0.7);
    font-size: 50px;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 1000px;
}
.preview{
  text-shadow: none;

}

.collapsible-header .col strong {
    margin: 5px;
    line-height:42px;
    
}

/************ Popular Recipes ************/
.popular {
    text-align: center;
}

.sub-text {
    text-align: center;
}

/************ Add Recipes ************/

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid#84b4c8;
    -webkit-box-shadow: 0 1px 0 0#84b4c8;
    box-shadow: 0 1px 0 0#84b4c8;
}

.input-field .prefix.active {
    color:#84b4c8;    
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #84b4c8;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

