{% extends "base.html" %}
{% block content %}
<h3 class="peach center-align">Add Recipe</h3>

<div class="row">
    <form class="col s12" method="post" action="{{ url_for('add_recipe') }}">
        <!--Category drop down-->
        <div class="row">
            <div class="input-field col s12 peach">
                <i class="material-icons prefix">dehaze</i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in category %}
                       {% if category.category_name == recipe.category_name %} 
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                       {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Recipe Category</label>
            </div>
        </div>

        <!--Recipe Name Field -->
        <div class="row">
            <div class="input-field col s12 peach">
                <i class="material-icons prefix">assignment</i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" type="text" class="validate"
                    value="{{ recipe.recipe_name }}" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>

        <!--Recipe Description Field -->
        <div class="row">
            <div class="input-field col s12 peach">
                <i class="material-icons prefix">toc</i>
                <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="500"
                    class="materialize-textarea"> {{ recipe.recipe_description }} </textarea>
                <label for="recipe_description">Recipe Description</label>
            </div>
        </div>

        <!--Recipe Ingredients list -->
        <div class="row">
            <div class="input-field col s12 peach">
                <i class="material-icons prefix">local_grocery_store</i>
                <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                    class="materialize-textarea"> {{ recipe.recipe_ingredients }} </textarea>
                <label for="recipe_ingredients">Ingredients</label>
            </div>
        </div>

        <!--Recipe steps -->
        <div class="row">
            <div class="input-field col s12 peach">
                <i class="material-icons prefix">comment</i>
                <textarea id="recipe_steps" name="recipe_steps" minlength="5"
                    class="materialize-textarea"> {{ recipe.recipe_steps }} </textarea>
                <label for="recipe_steps">Recipe Instructions</label>
            </div>
        </div>

        <!--Duration -->
        <div class="row">
            <div class="input-field col s12 peach">
                <i class="material-icons prefix">add_alarm</i>
                <textarea id="duration_cook" name="duration_cook"
                    class="materialize-textarea"> {{ recipe.duration_cook }} </textarea>
                <label for="duration_cook">Duration of Cook</label>
            </div>
        </div>

        <!--Image Url -->
        <div class="row">
            <div class="input-field col s12 peach">
                <i class="material-icons prefix">camera_alt</i>
                <label id="urlLabel" class="strong-label"> Image URL</label>
                <input id="image_Url" name="image_Url" type="text" value="{{ recipe.image_Url }}"
                    class="validate form-control" placeholder="https://brownie-chocolate-cake.com/etc">
            </div>
        </div>

        <!--created date -->
        <div class="row">
            <div class="input-field col s12 peach">
                <i class="material-icons prefix">date_range</i>
                <input id="created_Date" name="created_Date" type="text" class="datepicker validate" required>
                <label for="created_Date">Date Created</label>
            </div>
        </div>

        <!--Submission button-->

        <div class="row">
            <div class="col s12 center-align">
                <button class="btn blue-grey lighten-4 waves-effect waves-light" type="submit">Add Recipe
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>




{% endblock %}