{% extends "base.html" %} 
{% block content %} 



    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ username }}'s Recipes 
                </h3>
            </div>
        </div>
    </div>

    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.category_name }}
                {% if recipe.suitable_veg == "on" %}
                    <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                        data-position="right" data-tooltip="URGENT!"></i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ recipe.category_name }}</strong>
                <p>{{ recipe.recipe_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

       <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>


{% endblock %} 