{% extends "base.html" %}
{% block content %}
<!-- Recipe Cards-->
<section>

    <div class="row">
        <div class="">
            <h1 class=" popular peach">Popular Recipes</h1>
            <p class="peach sub-text">WE’VE HANDPICKED A FEW OF THE MOST POPULAR RECIPES FROM THE COMMUNITY TO GET YOUR
                TASTEBUDS GOING! YOU CAN <strong>CLICK</strong> TO SAVE THE RECIPE AND ADD IT TO YOUR "MY RECIPES" PAGE.
            </p>
            <ul>
                <li class="peach sub-text">
                    - SIMPLE - QUICK - EASY - TASTY
                </li>
            </ul>
        </div>
        <div class="row">
            {% for recipe in recipes %}
            {% if recipe.popular %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light popularrecipe">
                        <a href="{{ recipe.image_Url }}"> <img class="activator" alt="recipes"
                                src="{{ recipe.image_Url }}"></a>
                    </div>
                    <div class="card-content">
                        <span
                            class="card-title activator text-darken-4 peach"><strong>{{ recipe.recipe_name }}</strong><i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="{{ url_for('add_recipe',recipe= recipe._id) }}" class="grey-text">Save Recipe</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title text-darken-4 peach"><strong>{{ recipe.recipe_name }}</strong><i
                                class="material-icons right">close</i></span>
                        <p class="peach">{{ recipe.recipe_description }}</p>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
   
</section>

{% endblock %}