{% extends "base.html" %}
{% block content %}

<!-- callout image-->
<secion>
    <div class="row">
        <div class="hero-image">
            <img class="hero-image" src="{{ url_for('static', filename='img/homepage.jpg') }}">
            <div class="hero-text">
                <h1 class="peach">My Cook Book</h1>
                <p class="sub-text peach">NUTRITIONIST-APPROVED, HEALTHY RECIPES! FILTER BY CUISINE, DIATARY REQUIREMENT AND MORE!</p>
                <a href="{{ url_for('signin') }}" class="waves-effect waves-light grey lighten-5 peach btn"><i class="material-icons left"></i>Sign In</a>
                <a href="{{ url_for('signup') }}" class="waves-effect waves-light grey lighten-5 peach btn"><i class="material-icons left"></i>Sign up</a>
            </div>
        </div>
    </div>
</secion>

    

{% endblock %}